---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout
  title="About - George Medairy"
  description="Learn more about George Medairy, your dedicated real estate agent in Delaware. Discover our mission and values."
>
  <div>
    <header>
      <Navbar />
    </header>
    <div class="container max-w-7xl">
      <h1>About Us</h1>
      <p>
        George Medairy is a dedicated real estate agent based in Delaware,
        committed to helping clients achieve their real estate goals. With a
        deep understanding of the local market and a passion for exceptional
        service, George is your trusted partner in navigating the complexities
        of buying, selling, or renting a home.
      </p>
      <p>
        Our mission is to provide personalized, professional guidance throughout
        the real estate process. We believe in building lasting relationships
        with our clients, understanding their unique needs, and delivering
        results that exceed expectations.
      </p>
    </div>
  </div>
</Layout>
