---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout
  bodyClass="bg-base-200 text-base-content"
  title="Contact - George Medairy"
  description="Get in touch with George Medairy, your trusted real estate agent in Delaware. Contact us today to discuss your real estate needs."
>
  <div>
    <header>
      <Navbar />
    </header>
    <div class="container max-w-7xl">
      <h1>Contact Us</h1>
      <p>
        If you have any questions or need assistance with your real estate
        needs, feel free to reach out. You can contact us via email or phone, or
        visit our office in Delaware.
      </p>
      <p>
        Email: <a href="mailto:george@medairyrealestate.com">
          george@medairyrealestate.com
        </a>
      </p>
    </div>
  </div>
</Layout>
