<div class="navbar container mx-auto max-w-7xl">
  <div class="flex-1">
    <a href="/">George Medairy</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/about">About us</a></li>
      <li><a href="/explore">Explore Homes</a></li>
      <li>
        <a href="/contact">Contact us</a>
      </li>
    </ul>
  </div>
</div>
